
//
// Modal
// ==================================================

.modal {
  z-index: 9999;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba($black, .6);

  overflow-y: overlay;
  height: 100%;

  // Default status
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s linear, visibility .1s linear .4s;

  .modal-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    @include rem('max-width', 640);
    padding: 5%;
  }

  .modal-content {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    background: $white;
  }

  .text, .confirmBox {
    text-align: center;
    padding: 0 5%;
    @include rem('margin', 35, 0);
    @include rem('line-height', 25);
  }

  .text {

    p {
      // @include rem('margin', 15, 0);
      margin: 5% 0;

      &.firstLine {
        font-style: italic;
      }

      &.secondLine {

      }
    }
  }

  .confirmBox {

    > div {
      display: table;
      width: 70%;
      margin: 0 auto;
    }

    a {
      display: table-cell;
      width: 50%;
      text-align: center;
    }
  }

  .modal-closeButton {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    user-select: none;

    &:after {
      content: '\00D7';
      display: block;
      @include rem('width', 18);
      @include rem('height', 18);
      @include rem('line-height', 18);
      @include rem('font-size', 18);
      @include rem('margin', 7, 5);
      cursor: pointer;
      text-align: center;
      background-color: $black;
      color: $white;
    }
  }

  // Effects
  &.open {
    transition: opacity .2s linear, visibility 0s linear;
    visibility: visible;
    opacity: 1;
  }

  &.close {
    visibility: hidden;
    opacity: 0;
  }
}