
//
// Modal
// ==================================================

.modal {
  z-index: 9999;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba($black, .6);

  // Default status
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s linear, visibility .1s linear .4s;

  .modal-wrapper {
    width: auto;
    height: 100%;
    padding: 5%;
    overflow: hidden;
  }

  .modal-content {
    height: 100%;
    background: $white;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .text, .confirmBox {
    text-align: center;
    padding: 0 5%;
    @include rem('margin', 35, 0);
    @include rem('line-height', 25);
  }

  .text {

    p {
      // @include rem('margin', 15, 0);
      margin: 5% 0;

      &.firstLine {
        font-style: italic;
      }

      &.secondLine {

      }
    }
  }

  .confirmBox {

    > div {
      display: table;
      width: 70%;
      margin: 0 auto;
    }

    a {
      display: table-cell;
      width: 50%;
      text-align: center;
    }
  }

  // Effects
  &.open {
    transition: opacity .2s linear, visibility 0s linear;
    visibility: visible;
    opacity: 1;
  }

  &.close {
    visibility: hidden;
    opacity: 0;
  }
}


//
// Media queries
// -------------------------------------------------

@media (min-width: 768px) {

  .modal {

    .modal-wrapper {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      height: auto;
    }
  }
}